:root {
    --color-bg: #fdf5f0;
    --color-main-accent: #525be1;
    --color-primary: #d8d9ff;
    --color-text: #401d89;
    --color-success: #525be1;
    --color-error: #dc3545;
    --color-loading: #f59470;
}
