/* Claim */
#claim {
  width: 50%;
  margin: 0 auto;
  margin-top: 10vh;
  background-color: #d8d9ff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#claim form {
  display: flex;
  align-items: center;
  width: 100%;
}

#claim button {
  background-color: #525be1;
  color: #fdf5f0;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 15vw;
  font-size: 20px;
}

#claim button:hover {
  background-color: #401d89;
}

#claim h4 {
  margin: 0px 0px 15px 0px;
}

#claim input {
  border: none;
  background-color: transparent;
  color: #401d89;
  transition: border-bottom-color 0.2s ease;
  outline: none;
  display: block;
  padding: 0px 0px 5px 0px;
  width: 35vw;
  justify-self: left;
  font-size: 26px;
}

#claim input:focus {
  border-bottom-color: #1e5faa;
  color: #401d89;
  font-weight: bold;
}
#claim input:focus::placeholder {
  opacity: 0;
}

#claim p {
  margin: 20px 0px 0px auto;
  color: red;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

#claim .success {
  color: #61aee7;
}
#claim .error {
  color: #dc3545;
}
#claim .loading {
  color: #f59470;
}

@media (max-width: 768px) {
  #claim {
    width: 90%;
  }
  #claim form {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #claim input {
    margin: 0;
    width: 80vw;
  }
  #claim button {
    width: 80vw;
    font-size: 18px;
  }
}
