/* FAQ */
#faq {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    background-color: #f8f6f0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
}

#faq dl {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 13px;
    color: #226699;
}

#faq dt {
    font-weight: bold;
    margin-bottom: 5px;
}

#faq dd {
    margin-bottom: 5px;
    margin-left: 0;
}
